.LandingPage{
    background-image: url("/food-tray.jpeg");
    background-size: cover;   
}

.intro-hero{
    color: white;
}

@media screen and (max-width: 768px) {
    .LandingPage{
        background-color: hsl(204, 86%, 53%);
        background-image: none;
    }
   }

