.LandingPage {
    background-image: url("/food-tray.jpeg");
    background-size: cover;
}

.intro-hero {
    color: white;
}

@media screen and (max-width: 768px) {
    .LandingPage {
        background-color: hsl(204, 86%, 53%);
        background-image: none;
    }

     .info-card-container{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

     .info-cards{
        width: 100vw;
    } 
}


